<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Users</title>
</head>
<body>
    <div>
        <h1 class="text-center font-bold text-3xl text-gray-500 underline">View Users</h1>
        <div class="border-2 border-red-500 py-6 text-center mt-3 mx-48 rounded-md">
        <p class="text-gray-600 font-bold">Name : <span class="text-green-500">{{user.firstName}} {{user.lastName}}</span></p>
        <p  class="text-gray-600 font-bold">Email : <span  class="text-green-500">{{user.email}}</span></p>
        <p  class="text-gray-600 font-bold">Mobile Number : <span  class="text-green-500">{{user.mobileNo}}</span></p>
        <p  class="text-gray-600 font-bold">Age : <span  class="text-green-500">{{user.age}}</span></p>
        </div>
    </div>
</body>
</html>